<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Sortable" version="0.2.0" targetFramework="net452" />
  <package id="Angular.UI.UI-Router" version="0.4.2" targetFramework="net452" />
  <package id="AngularJS.Core" version="1.6.5" targetFramework="net452" />
  <package id="AngularJS.Route" version="1.6.5" targetFramework="net452" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="6.5.6" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net452" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="1.5.1" targetFramework="net452" />
</packages>